.contact__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 9rem;
  column-gap: 2rem;
  align-items: center;
}
.contact__socials {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
}
.contact__img {
  background: url(../../assets/img/photo47.jpg);
  border-radius: 50%;
  background-size: cover;
  justify-self: center;
  background-repeat: no-repeat;
  /* background-position: center; */
  box-shadow: inset 0 0 0 8px var(--first-color);
  width: 300px;
  height: 300px;
  /* animation: profile__animate-contact 8s ease-in-out infinite 1s;  */ /*! changed*/
}
@keyframes profile__animate-contact {
  0% {
    border-radius: 70% 50% 40% 80%/70% 40% 80% 50%;
  }
  50% {
    border-radius: 40% 70% 80% 50%/60% 70% 40% 70%;
  }
  100% {
    border-radius: 70% 50% 40% 80%/70% 40% 80% 50%;
  }
}
.contact__social-link {
  background-color: var(--container-color);
  color: var(--title-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
}
.contact__social-link:hover {
  background-color: var(--first-color);
  color: var(--text-white);
}
.data__title {
  font-size: var(--big-font-size);
  font-weight: var(--weight-800);
}
.data__title span {
  color: var(--first-color);
}
/*  */
.error .world {
  animation: world 30s linear infinite;
}
.error {
  display: flex;
  justify-content: space-around;
  padding-top: 2.5rem;
  gap: 20px;
}
.world {
  border-radius: 50%;
  box-shadow: 0 0 100px var(--first-color);
  cursor: pointer;
}
.error-box img {
  height: 200px;
}
@keyframes world {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */
@media screen and (max-width: 992px) {
  .contact__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .contact__img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .contact__content {
    grid-template-columns: 0.5fr 3fr;
    padding: 3.5rem;
  }
  .contact__img {
    order: initial;
    /* order: -1; */
    justify-self: initial;
  }
  .contact__data {
    grid-column: 1/3;
  }
  .error {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 350px) {
  .contact__img {
    width: 220px;
    height: 220px;
  }
}
